@charset "UTF-8";
/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}

/* basic setting */
/* 使用@each 產出css size設定 */
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

/* 使用@each 產出css spacer設定 */
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

form .form-part .form-group input, form .form-part .form-group select {
  height: 40px;
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  font-size: 12px;
  padding: 0.8rem;
}

form .form-part .form-group input:hover, form .form-part .form-group select:hover, form .form-part .form-group input:focus, form .form-part .form-group select:focus {
  border-color: #2a2a2a;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-blockt;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.align-content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.align-content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: #fff;
  color: #2a2a2a;
  font-family: "Noto Sans TC";
}

.container {
  width: 92%;
  margin: 0 auto;
}

nav {
  height: 56px;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

nav h1 {
  font-size: 1rem;
  position: relative;
}

nav h1::after {
  content: "D";
  color: #fff;
  font-size: 12px;
  height: 1rem;
  width: 1rem;
  background-color: #2a2a2a;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  right: 1rem;
}

#main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: " form  form form form form form form form form form form form" " cart  cart cart cart cart cart cart cart cart cart cart cart" " controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn ";
}

#main-content #main-content__form {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: form;
}

#main-content #main-content__cart {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: cart;
}

#main-content #btn-control {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: controlBtn;
}

#main-title {
  font-size: 1.5rem;
  color: #2a2a2a;
}

#main-content__form {
  margin-top: 24px;
}

#main-content__form__step-control {
  height: 2rem;
}

#main-content__form__step-control .stepper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content__form__step-control .stepper-container .step {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#main-content__form__step-control .stepper-container .step:nth-child(1) .circle-container::after {
  content: "1";
}

#main-content__form__step-control .stepper-container .step:nth-child(2) .circle-container::after {
  content: "2";
}

#main-content__form__step-control .stepper-container .step:nth-child(3) .circle-container::after {
  content: "3";
}

#main-content__form__step-control .stepper-container .step .circle-container {
  width: 32px;
  height: 32px;
  border: 1px solid #afb1bd;
  border-radius: 50%;
  color: #afb1bd;
  font-weight: 700;
  font-size: 1rem;
  line-height: 30px;
}

#main-content__form__step-control .stepper-container .step .circle--2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#main-content__form__step-control .stepper-container .step .circle--2::before {
  content: " ";
  width: 60px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 16px;
  left: -48px;
}

#main-content__form__step-control .stepper-container .step .circle--3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#main-content__form__step-control .stepper-container .step .circle--3::before {
  content: " ";
  width: 60px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 16px;
  left: -15px;
}

#main-content__form__step-control .stepper-container .step.checked .circle-container {
  background-color: #333333;
  color: #fff;
}

#main-content__form__step-control .stepper-container .step.checked .circle-container::after {
  content: "\2713";
  font-size: 1rem;
}

#main-content__form__step-control .stepper-container .step.active .circle-container {
  border-color: #2a2a2a;
  color: #2a2a2a;
}

.label-container {
  display: none;
}

#main-content__form__form-panel {
  margin-top: 1.5rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form h4 {
  font-size: 24px;
  color: #2a2a2a;
}

form .form-part {
  margin-bottom: 2rem;
}

form .form-part .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

form .form-part .form-group {
  margin-top: 24px;
}

form .form-part .form-group > label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 12px;
  font-weight: 700;
  color: #808080;
}

form .form-part .form-group select {
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;
}

form .form-part .form-group #title {
  display: inline-block;
  width: 100%;
  background-color: transparent;
}

form .form-part .form-group #name {
  width: 100%;
}

form .form-part .form-group #phone,
form .form-part .form-group #email,
form .form-part .form-group #city,
form .form-part .form-group #address {
  width: 100%;
}

form .form-part .select-wrapper {
  position: relative;
  width: 40%;
  z-index: 0;
}

form .form-part .select-wrapper::after {
  content: "";
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #4a4a4a transparent transparent transparent;
  position: absolute;
  bottom: 1rem;
  right: 8px;
  z-index: -1;
}

.form-part__delivery__type {
  border: 1px solid #f0f0f5;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  margin-top: 24px;
  padding-right: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-part__delivery__type input[type="radio"] {
  -webkit-appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #222222;
  margin: 0;
  cursor: pointer;
}

.form-part__delivery__type input[type="radio"]:checked {
  -webkit-box-shadow: inset 0 0 0 6px #000000;
          box-shadow: inset 0 0 0 6px #000000;
}

.form-part__delivery__type > label {
  height: 100%;
  width: 100%;
  margin-top: 1rem;
  margin-left: 1rem;
  position: relative;
}

.form-part__delivery__type > label .delivery-type {
  font-size: 14px;
  line-height: 20px;
}

.form-part__delivery__type > label .delivery-time {
  font-size: 12px;
}

.form-part__delivery__type > label .delivery-fee {
  position: absolute;
  top: 1rem;
  right: 0;
  font-size: 12px;
}

.form-part__delivery #d-delivery ~ label .delivery-type {
  font-weight: 700;
}

.form-part__payment #credit-name,
.form-part__payment #credit-number {
  width: 350px;
}

.form-part__payment > .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.form-part__payment > .form-row :nth-child(1) {
  margin-right: 2rem;
}

.form-part__payment #credit-expire,
.form-part__payment #credit-cvc {
  width: 100%;
}

.invalid-feedback,
.valid-feedback {
  display: none;
  font-size: 0.8em;
}

.invalid-feedback {
  color: red;
}

.valid-feedback {
  color: green;
}

form.was-validated .form-control:invalid ~ .invalid-feedback {
  display: initial;
}

form.was-validated .form-control:valid ~ .valid-feedback {
  display: initial;
}

#main-content__cart {
  margin-top: 1rem;
}

#main-content__cart h4 {
  display: none;
}

#main-content__cart .cart-container {
  border: 1px solid #f0f0f5;
  border-radius: 8px;
}

#main-content__cart .cart-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  position: relative;
}

#main-content__cart .cart-container .item .picture {
  width: 100px;
  height: 100px;
}

#main-content__cart .cart-container .item .info {
  position: absolute;
  top: 0;
  right: 0;
}

#main-content__cart .cart-container .item .info .info-product {
  color: #2a2a2a;
  line-height: 24px;
}

#main-content__cart .cart-container .item .info .info__count {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main-content__cart .cart-container .item .info .info__count div {
  margin-left: 1.5rem;
}

#main-content__cart .cart-container .item .icon {
  width: 20px;
  background-color: #e6e6eb;
  border-radius: 50%;
  padding: 2px;
}

#main-content__cart .cart-container .item .fee {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 22px;
  font-weight: 700;
}

#main-content__cart .cart-container .fee-panel__delivery,
#main-content__cart .cart-container .fee-panel__total {
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 0 1rem 0 1rem;
}

#main-content__cart .cart-container .fee-panel__delivery h5,
#main-content__cart .cart-container .fee-panel__total h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 52px;
  color: #2a2a2a;
}

#main-content__cart .cart-container .fee-panel__delivery span,
#main-content__cart .cart-container .fee-panel__total span {
  font-size: 14px;
  line-height: 52px;
  font-weight: 700;
}

#main-content__cart .cart-container .fee-panel__delivery::before,
#main-content__cart .cart-container .fee-panel__total::before {
  content: "";
  width: 80%;
  height: 1px;
  background-color: #f0f0f5;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#btn-control {
  margin-top: 1.2rem;
  position: relative;
}

#btn-control button {
  display: inline-block;
  border-radius: 8px;
  height: 46px;
  width: 10rem;
  text-align: center;
  line-height: 46px;
}

#btn-control .btn-previous {
  text-align: start;
}

#btn-control .btn-next {
  width: 100%;
  background-color: #f67599;
  color: #fff;
}

#btn-control .btn-done {
  background-color: #f67599;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

#btn-control .arrow-previous::before {
  content: "\2190";
  font-size: 20px;
  margin-right: 1rem;
}

#btn-control .arrow-next::after {
  content: "\2192";
  font-size: 20px;
  margin-left: 1rem;
}

@media screen and (min-width: 375px) {
  #main-content {
    grid-column-gap: 4rem;
        grid-template-areas: " form  form form form form form  cart  cart cart cart cart " " form  form form form form form  cart  cart cart cart cart " "controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn cart cart cart cart cart";
  }
  #main-content__form__step-control .stepper-container .step {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main-content__form__step-control .stepper-container .step .circle-container {
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
  }
  #main-content__form__step-control .stepper-container .step .circle--2::before {
    top: 12px;
  }
  #main-content__form__step-control .stepper-container .step .circle--3::before {
    top: 12px;
  }
  #main-content__form__step-control .stepper-container .step-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #main-content__form__step-control .stepper-container .step-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .label-container {
    display: inline-block;
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  form .form-part .select-wrapper {
    width: 100%;
  }
  form .form-part .form-part__address .form-row,
  form .form-part .form-part__address .form-row-2,
  form .form-part .form-part__address .form-row-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  form .form-part .form-part__address .form-row .form-group-title {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  form .form-part .form-part__address .form-row .form-group-name {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 7;
  }
  form .form-part .form-part__address .form-row-2 .form-group-tel {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  form .form-part .form-part__address .form-row-2 .form-group-email {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
  }
  form .form-part .form-part__address .form-row-3 .form-group-city {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  form .form-part .form-part__address .form-row-3 .form-group-address {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 7;
  }
  .form-part__payment > .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .form-part__payment > .form-row :nth-child(1) {
    margin-right: 0;
    padding-right: 1rem;
  }
  .form-part__payment > .form-row .form-group {
    width: 100%;
  }
  .form-part__payment #credit-expire,
  .form-part__payment #credit-cvc {
    width: 100%;
  }
  #btn-control .btn-next {
    width: 10rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  #btn-control .btn-d-none {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */