/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}

/* basic setting */
$main-color: #2a2a2a;
$white: #fff;
$black: #000000;
$light-gray: #4a4a4a;
$stepper-gray: #afb1bd;
$border-gray: #f0f0f5;
$label-title: #808080;

$small: 375px;

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

/* 使用@each 產出css size設定 */
@each $prop, $abbrev in (width: w, height: h) {
  @each $num, $val in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
  }
}

$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: (
    $spacer * 0.75,
  ),
  4: $spacer,
  5: (
    $spacer * 1.25,
  ),
  6: (
    $spacer * 1.5,
  ),
  7: (
    $spacer * 1.75,
  ),
  8: (
    $spacer * 2,
  ),
);

/* 使用@each 產出css spacer設定 */
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $num, $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }
    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }
    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }
    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }
    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}

%input-style {
  height: 40px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  font-size: 12px;
  padding: 0.8rem;
  &:hover,
  &:focus {
    border-color: $main-color;
  }
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-blockt;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: $white;
  color: $main-color;
  font-family: "Noto Sans TC";
}

.container {
  width: 92%;
  margin: 0 auto;
}

// custom style
// scss function
@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle-container::after {
      content: "#{$i}";
    }
  }
}
// mobile
nav {
  height: 56px;
  width: 100%;
  text-align: center;
  padding: 1rem;
  h1 {
    font-size: 1rem;
    position: relative;
    // 暫時的dark model button
    &::after {
      content: "D";
      color: $white;
      font-size: 12px;
      height: 1rem;
      width: 1rem;
      background-color: $main-color;
      border-radius: 50%;
      position: absolute;
      top: 25%;
      right: 1rem;
    }
  }
}
#main-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    " form  form form form form form form form form form form form"
    " cart  cart cart cart cart cart cart cart cart cart cart cart"
    " controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn ";
  #main-content__form {
    grid-area: form;
  }
  #main-content__cart {
    grid-area: cart;
  }
  #btn-control {
    grid-area: controlBtn;
  }
}
#main-title {
  font-size: 1.5rem;
  color: $main-color;
}

// stepper
#main-content {
  &__form {
    margin-top: 24px;
    &__step-control {
      height: 2rem;
      .stepper-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .step {
          flex: 1;
          position: relative;
          display: flex;
          flex-direction: column;
          text-align: center;
          @include getStepNums(3);
          .circle-container {
            width: 32px;
            height: 32px;
            border: 1px solid $stepper-gray;
            border-radius: 50%;
            color: $stepper-gray;
            font-weight: 700;
            font-size: 1rem;
            line-height: 30px;
          }
          .circle--2 {
            align-self: center;
            &::before {
              content: " ";
              width: 60px;
              height: 2px;
              background-color: $black;
              position: absolute;
              top: 16px;
              left: -48px;
            }
          }

          .circle--3 {
            align-self: flex-end;
            &::before {
              content: " ";
              width: 60px;
              height: 2px;
              background-color: $black;
              position: absolute;
              top: 16px;
              left: -15px;
            }
          }

          &.checked {
            .circle-container {
              background-color: #333333;
              color: $white;
            }
          }

          &.checked .circle-container::after {
            content: "\2713";
            font-size: 1rem;
          }

          &.active {
            .circle-container {
              border-color: $main-color;
              color: $main-color;
            }
          }
        }
      }
    }
  }
}

.label-container {
  display: none;
}

// form
#main-content__form__form-panel {
  margin-top: 1.5rem;
}

// form--user info
form {
  display: flex;
  flex-direction: column;
  h4 {
    font-size: 24px;
    color: $main-color;
  }
  .form-part {
    margin-bottom: 2rem;
    .form-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .form-group {
      margin-top: 24px;
      > label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 12px;
        font-weight: 700;
        color: $label-title;
      }
      input {
        @extend %input-style;
      }

      select {
        @extend %input-style;
        -webkit-appearance: none;
        cursor: pointer;
        width: 100%;
      }
      #title {
        display: inline-block;
        width: 100%;
        background-color: transparent;
      }

      #name {
        width: 100%;
      }
      #phone,
      #email,
      #city,
      #address {
        width: 100%;
      }
    }
    .select-wrapper {
      position: relative;
      width: 40%;
      z-index: 0;
      &::after {
        content: "";
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: $light-gray transparent transparent transparent;
        position: absolute;
        bottom: 1rem;
        right: 8px;
        z-index: -1;
      }
    }
  }
}

// form--delivery
.form-part__delivery {
  &__type {
    border: 1px solid $border-gray;
    border-radius: 4px;
    width: 100%;
    height: 60px;
    margin-top: 24px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    & input[type="radio"] {
      -webkit-appearance: none;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      border: 1px solid #222222;
      margin: 0;
      cursor: pointer;
      &:checked {
        box-shadow: inset 0 0 0 6px $black;
      }
    }

    > label {
      height: 100%;
      width: 100%;
      margin-top: 1rem;
      margin-left: 1rem;
      position: relative;
      .delivery-type {
        font-size: 14px;
        line-height: 20px;
      }
      .delivery-time {
        font-size: 12px;
      }
      .delivery-fee {
        position: absolute;
        top: 1rem;
        right: 0;
        font-size: 12px;
      }
    }
  }
  #d-delivery {
    ~ label {
      .delivery-type {
        font-weight: 700;
      }
    }
  }
}

// form--payment info
.form-part__payment {
  #credit-name,
  #credit-number {
    width: 350px;
  }
  > .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    :nth-child(1) {
      margin-right: 2rem;
    }
  }
  #credit-expire,
  #credit-cvc {
    width: 100%;
  }
}

// form validity check
.invalid-feedback,
.valid-feedback {
  display: none;
  font-size: 0.8em;
}

.invalid-feedback {
  color: red;
}

.valid-feedback {
  color: green;
}

form.was-validated .form-control:invalid ~ .invalid-feedback {
  display: initial;
}

form.was-validated .form-control:valid ~ .valid-feedback {
  display: initial;
}

// cart
#main-content__cart {
  margin-top: 1rem;
  h4 {
    display: none;
  }
  .cart-container {
    border: 1px solid $border-gray;
    border-radius: 8px;
    .item {
      display: flex;
      margin: 1rem;
      position: relative;
      .picture {
        width: 100px;
        height: 100px;
      }
      .info {
        position: absolute;
        top: 0;
        right: 0;
        .info-product {
          color: $main-color;
          line-height: 24px;
        }
        .info__count {
          margin-top: 1rem;
          display: flex;
          justify-content: flex-end;
          align-content: center;
          div {
            margin-left: 1.5rem;
          }
        }
      }
      .icon {
        width: 20px;
        background-color: #e6e6eb;
        border-radius: 50%;
        padding: 2px;
      }
      .fee {
        position: absolute;
        bottom: 0;
        right: 0;
        line-height: 22px;
        font-weight: 700;
      }
    }
    .fee-panel__delivery,
    .fee-panel__total {
      height: 52px;
      display: flex;
      justify-content: space-between;
      position: relative;
      margin: 0 1rem 0 1rem;
      h5 {
        font-weight: 400;
        font-size: 14px;
        line-height: 52px;
        color: $main-color;
      }
      span {
        font-size: 14px;
        line-height: 52px;
        font-weight: 700;
      }
      &::before {
        content: "";
        width: 80%;
        height: 1px;
        background-color: $border-gray;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
}

// button
#btn-control {
  margin-top: 1.2rem;
  position: relative;
  button {
    display: inline-block;
    border-radius: 8px;
    height: 46px;
    width: 10rem;
    text-align: center;
    line-height: 46px;
  }
  .btn-previous {
    text-align: start;
  }
  .btn-next {
    width: 100%;
    background-color: #f67599;
    color: $white;
  }
  .btn-done {
    background-color: #f67599;
    color: $white;
    position: absolute;
    top: 0;
    right: 0;
  }

  .arrow-previous::before {
    content: "\2190";
    font-size: 20px;
    margin-right: 1rem;
  }
  .arrow-next::after {
    content: "\2192";
    font-size: 20px;
    margin-left: 1rem;
  }
}

// computer
@media screen and (min-width: $small) {
  #main-content {
    grid-column-gap: 4rem;
    grid-template-areas:
      " form  form form form form form  cart  cart cart cart cart "
      " form  form form form form form  cart  cart cart cart cart "
      "controlBtn controlBtn controlBtn controlBtn controlBtn controlBtn cart cart cart cart cart";
  }

  #main-content {
    &__form {
      &__step-control {
        .stepper-container {
          .step {
            flex: 1;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            .circle-container {
              width: 24px;
              height: 24px;
              font-size: 12px;
              line-height: 24px;
            }
            .circle--2 {
              &::before {
                top: 12px;
              }
            }
            .circle--3 {
              &::before {
                top: 12px;
              }
            }
          }
          .step-center {
            display: flex;
            justify-content: center;
          }
          .step-right {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }

  .label-container {
    display: inline-block;
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  // form--user info
  form {
    .form-part {
      .select-wrapper {
        width: 100%;
      }
      .form-part__address {
        .form-row,
        .form-row-2,
        .form-row-3 {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          column-gap: 1rem;
        }
        .form-row {
          .form-group-title {
            grid-column-start: 1;
            grid-column-end: 3;
          }
          .form-group-name {
            grid-column-start: 3;
            grid-column-end: 7;
          }
        }
        .form-row-2 {
          .form-group-tel {
            grid-column-start: 1;
            grid-column-end: 4;
          }
          .form-group-email {
            grid-column-start: 4;
            grid-column-end: 7;
          }
        }
        .form-row-3 {
          .form-group-city {
            grid-column-start: 1;
            grid-column-end: 3;
          }
          .form-group-address {
            grid-column-start: 3;
            grid-column-end: 7;
          }
        }
      }
    }
  }

  // form--payment info
  .form-part__payment {
    > .form-row {
      display: flex;
      width: 100%;
      :nth-child(1) {
        margin-right: 0;
        padding-right: 1rem;
      }
      .form-group {
        width: 100%;
      }
    }
    #credit-expire,
    #credit-cvc {
      width: 100%;
    }
  }

  #btn-control {
    .btn-next {
      width: 10rem;
      position: absolute;
      top: 0;
      right: 0;
    }
    .btn-d-none {
      display: none;
    }
  }
}
